@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scanlines {
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 0, 0, 0.2) 50%,
      rgba(0, 0, 0, 0.2)
    );
    background-size: 100% 4px;
    animation: scanlines 1s linear infinite;
    pointer-events: none;
    z-index: 10;
  }
}

body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: #2c2c2c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
